@(verb: Verb, showUnit: (ArgUnit) => Boolean = (argUnit: ArgUnit) => true, inExpressions: Boolean = false)(implicit messages: Messages)

@import Expression._
@import models.Details._

@show(argUnit: ArgUnit) = @{if (showUnit(argUnit)) "show" else ""}
@showExpressions = @{if (inExpressions) "show" else ""}

<!-- Lemma -->
<h4>@verb.lemma<sup>@verb.homonymNumber</sup></h4>
<a href="#" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="true" class="">
  @messages("details.btn.toggle")
</a>

<div class="list-group filter-wrap">
<!-- Units -->
@for(argUnit <- verb.argUnits) {
  <article class="list-group-item">
    <header class="filter-header">
      <a href="#" data-toggle="collapse" data-target="#collapse_@argUnit.romanNumeral" aria-expanded="true" class="">
        <!-- Unit @argUnit.romanNumeral -->
        <h6 class="title">@mkTooltip("tooltips.argunit", argUnit.romanNumeral)</h6>
      </a>
    </header>
    <div class="filter-content collapse multi-collapse @show(argUnit)" id="collapse_@argUnit.romanNumeral" style="">
      <!-- ArgUnit features -->
      @if(!argUnit.features.isEmpty) {
        @mkDynamicTooltip("tooltips.pos.", "V")
        [ @Html(argUnit.features.map(feat => mkDynamicTooltip("tooltips.feat.", feat)).mkString(" ")) ]<br/>
      }
      @for(argStructure <- argUnit.argStructures) {
        <!-- ArgStructure features -->
        @if(!argStructure.features.isEmpty) {
          @mkDynamicTooltip("tooltips.pos.", "V")
          [ @Html(argStructure.features.map(feat => mkDynamicTooltip("tooltips.feat.", feat)).mkString(" ")) ]
          
        }
        <!-- Structure -->
        @for(argPosition <- argStructure.argPositions) {
          <!-- Position  -->
          @mkTooltip("tooltips.argpos", argPosition.number).
          @if(!argPosition.state.isEmpty) {
            <!-- State -->
            (@mkDynamicTooltip("tooltips.argpos.", argPosition.state))
          }
          <!-- Arguments -->
          @for(arg <- argPosition.arguments) {
            <!-- POS -->
            @if(arg.pos != ZeroValent) {
              @mkDynamicTooltip("tooltips.pos.", arg.pos)
              [
                <!-- Gram -->
                @for(gram <- arg.grams) {
                  @mkDynamicTooltip("tooltips.gram.", gram)
                  @if(gram != arg.grams.last) {@mkTooltip("tooltips.slash", "/")}
                }
              
                <!-- Semantics -->
                @for(semItems <- arg.semanticItems) {
                  @for(sem <- semItems) {
                    @mkDynamicTooltip("tooltips.sem.", sem)
                    @if(sem != semItems.last) { }
                  }
                  @if(semItems != arg.semanticItems.last) {@mkTooltip("tooltips.slash", "/")}
                }
              ]
            } else {@mkTooltip("tooltips.pos.zerovalent", "[ ]")}
            @if(arg != argPosition.arguments.last) {@mkTooltip("tooltips.slash", "/")}
          }
        }
        <br/>
      }
      
      <!-- Senses -->
      @for(sense <- argUnit.senses) {
        <p>
        @if(argUnit.senses.size > 1) {
          <!-- Sense number -->
          <b>@sense.number.get.</b>
        }
        <!-- Definitions -->
        @for(definition <- sense.definitions) { 
          @mkTooltip("tooltips.definition", definition)@if(definition != sense.definitions.last) {; } else {: }
        }
        <!-- Examples -->
        @for(example <- sense.examples) {
          <i>@mkTooltip("tooltips.example", example)</i>
          @if(example != sense.examples.last) { @mkTooltip("tooltips.doubleslash", "//") }
        }
        </p>
      }
    </div> <!-- collapse -filter-content  .// -->
  </article>
}
</div> <!-- card.// -->
  
<!-- Expressions -->
@if(!verb.expressions.isEmpty) {
  <div class="list-group filter-wrap">
    <article class="list-group-item">
      <header class="filter-header">
        <a href="#" data-toggle="collapse" data-target="#expressions" aria-expanded="true" class="">
          <!-- Unit expressions -->
          <h6 class="title">@messages("verbview.expressions")</h6>
        </a>
      </header>
      <div class="filter-content collapse multi-collapse @showExpressions" id="expressions" style="">
        <ul>
        @for(expression <- verb.expressions) {
          <li><i>@Html(noitalic(expression.sign))</i> = @Html((bold andThen italic)(expression.definition))</li>
        }
        </ul>
      </div>
    </article>
  </div> <!-- card.// -->
}
