@(verb: Option[Verb], verbs: List[Verb], showVerb: (String) => Call)(implicit messages: Messages, langs: Langs)

@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@if(verbs.size > 0) {
  <input type="search" id="container-search" value="" class="form-control" placeholder="@messages("menu.search")">
  @for(verb <- verbs) {
    <a class="nav-link @activeVerb(verb.id)" 
      href="@showVerb(verb.id)"><span id="verb-link">@verb.lemma<sup>@verb.homonymNumber</sup></span></a>
  }
} else {
  @messages("warn.no_verb")
}
