@(name: String, col1: Int = 1, col2: Int = 2, col3: Int = 9, filterOpt: Option[Any] = None, noOfVerbsOpt: Option[Int] = None)(
	filterPage: Html)(listPage: Html)(detailsPage: Html)(implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@messages = @{request.messages}

@main(name) {
  <div class="row content">
    @if(col1 > 0) {
      <div class="col-sm-@col1 sidebar bg-light">
        <h6 class="mb-0">
          <a class="btn hidden d-block d-md-none" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
            @messages("filter.mobile.button")
            @filterOpt.map { filter =>
            - <span class="badge badge-primary badge-pill">@Html(filter.toString)</span>
            }
          </a>
        </h6>
        
        <div class="collapse dont-collapse-sm" id="collapseFilter">
          <div class="nav nav-pills flex-column">
            @filterPage
          </div>
        </div>
      </div>
    }
    <div class="col-sm-@col2 sidenav">
      <h6 class="mb-0">
        <a class="btn hidden d-block d-md-none" type="button" data-toggle="collapse" data-target="#collapseVerbs" aria-expanded="false" aria-controls="collapseExample">
          @messages("lov.mobile.button")
          @noOfVerbsOpt.map { noVerbs =>
        	- <span class="badge badge-primary badge-pill">@noVerbs</span>
          }
        </a>
      </h6>
      <div class="collapse dont-collapse-sm" id="collapseVerbs">
        <div id="searchable-container" class="nav nav-pills flex-column">
          @listPage
        </div>
      </div>
    </div>
    <div class="col-sm-@col3 text-left"> 
      @detailsPage
    </div>
  </div>
}
