.navbar-nav li.active > a {
	background-color: #eae8e8;
}

.navbar-toggler .nav-link {
    padding-bottom: 0px;
	padding-top: 0px;
}

.navbar-toggler .dropdown-menu {
    padding-bottom: 0px;
	padding-top: 0px;
}

.nav-pills .nav-link {
    padding-bottom: 3px;
	padding-top: 3px;
}

.noitalic {
	font-style: normal;
}

.fixed-top-2 {
	margin-top: 56px;
}

.dcv-card
{
	width:100%;
	height:auto;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	margin-bottom:28px;
}


.dcv-card img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.mb-0 > a {
  display: block;
  position: relative;
  margin-top:3px;
  margin-bottom:3px;
  cursor: pointer;
}
.mb-0 > a:after {
  content: "\f103";
  font-family: 'FontAwesome';
  position: absolute;
  right: 10px;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f102";
}

