@(dictionary: Dictionary)

<p>Dicționarul de Contexte Verbale (DCV) reprezintă o încercare de descriere formală a cadrelor de valență ale verbelor românești.
Un <b><i>context verbal</i></b> sau <b><i>cadru de valență</i></b> reprezintă setul de complemente (obligatorii, în general) 
cerute exclusiv și intrinsec de semantica unui verb.</p>

<p>DCV conține în varianta actuală @dictionary.allVerbs.size verbe cuprinzând 
@dictionary.allVerbs.map(_.argUnits.size).foldLeft(0)(_ + _) sensuri cu cadrele de valență aferente.
Aceste verbe sunt selectate ca fiind cel mai des folosite în corpusul cu texte din presă ZiareRom. </p>


<p>Structura logică a intrărilor și explicarea simbolurilor folosite se găsește <a href="#" data-toggle="modal"
data-target="#exampleModalCenter_ro">aici</a>.</p>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter_ro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered  modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">DCV – Structura logică a intrărilor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @section.structure_ro()
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<p>Descrierea lingvistică este realizată de Ana-Maria Barbu (CS I la Institutul de Lingvistică "Iorgu
Iordan – Al. Rosetti"), cu ajutorul editorului lexicografic <a href="https://tshwanedje.com/"
target="_blank">TshwaneLex</a>.</p>

<p>Site-ul și instrumentele de căutare sunt realizate de Cătălin Mititelu.</p>

