@(dictionary: Dictionary)
<p>The Valence Lexicon of Romanian Verbs (DCV—<i>Dicționar de Contexte Verbale</i>)
is an attempt to formally describe the valence frames
of the Romanian verbs. A <b><i>valence frame</i></b> is the set of (in general,
mandatory) complements required exclusively and intrinsically by the semantics
of a verb.</p>

<p>DCV contains in its current version @dictionary.allVerbs.size verbs containing 
@dictionary.allVerbs.map(_.argUnits.size).foldLeft(0)(_ + _) meanings
with the corresponding valence frames. These verbs are selected as the most
commonly used in the ZiareRom press corpus.</p>


<p>The logical structure of the DCV is fully described in the 
<a href="http://euralex.org/wp-content/themes/euralex/proceedings/Euralex%202018/118-4-2912-1-10-20180820.pdf"
target="_blank">EURALEX 2018 paper</a>.</p>

<p>The symbols and semantic features are explained <a href="#" data-toggle="modal"
data-target="#exampleModalCenter_en">here</a>.</p>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter_en" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered  modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">The symbols and the semantic features used in DCV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @section.symbols_en()
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<p>The linguistic description is made by Ana-Maria Barbu (senior researcher at "Iorgu
Iordan - Al. Rosetti" Institute of Linguistics) with the Professional
Lexicography Software <a href="https://tshwanedje.com/" target="_blank">TshwaneLex</a>.

<p>The website and search tools of the DCV are made by Cătălin Mititelu.</p>

