@()(implicit messages: Messages, langs: Langs)

<h2>@messages.messages("index.cite.title")</h2>
<p>@messages.messages("index.cite.info")</p>

<p>Barbu, Ana-Maria, <i>Dicționar de contexte verbale</i>, Editura Universității din București, 2017.</p>
<p>Barbu, Ana-Maria, "Dictionary of Verbal Contexts for the Romanian Language". In  <i>Proceedings of the XVIII
EURALEX International Congress: Lexicography in Global Contexts</i>, 17-21 July, Ljubljana, Ljubljana University Press,
Faculty of Arts, 2018, p. 411-422.</p>
