@(file: java.io.File)

<p>The lexicon is also available in the following formats:</p>
<ul>
  <li>PDF format (published in the University Publishing House, Bucharest, 2017): 
    <a href="@routes.DictionaryFilesController.downloadFile("dcv-carte.pdf")" download>dcv-carte.pdf</a>
  <li>XML format: 
  <ul>
    <li>Document Type Definition: <a href="@routes.DictionaryFilesController.downloadFile("dcv.dtd")" download>dcv.dtd</a>
    <li>XML data: <a href="@routes.DictionaryFilesController.downloadDictionary()" download>@(file.getName)</a>
  </ul>
</ul>
