@(file: java.io.File)

<p class="lead">Dicționarul este disponibil și sub următoarele forme:</p>
<ul>
  <li>
  Format PDF (formă publicată la Editura Universității din București, 2017): <a href="@routes.DictionaryFilesController.downloadFile("dcv-carte.pdf")" download>dcv-carte.pdf</a>
  <li>Format xml: 
  <ul>
    <li>Document Type Definition: <a href="@routes.DictionaryFilesController.downloadFile("dcv.dtd")" download>dcv.dtd</a>
    <li>Date xml: <a href="@routes.DictionaryFilesController.downloadDictionary()" download>@(file.getName)</a>
  </ul>
</ul>
