@()(implicit messages: Messages, langs: Langs)

<p>@messages("index.search.intro")</p>
<div class="card-columns">
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.AlphabetController.alphabet"><h4>@messages("alphabet.menu")</h4></a>
      <p class="card-text">@messages("alphabet.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.FeatureController.features"><h4>@messages("features.menu")</h4></a>
      <p class="card-text">@messages("features.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.PosController.poses"><h4>@messages("poses.menu")</h4></a>
      <p class="card-text">@messages("poses.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.GramController.grams"><h4>@messages("grams.menu")</h4></a>
      <p class="card-text">@messages("grams.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.SemanticController.semantics"><h4>@messages("semantics.menu")</h4></a>
      <p class="card-text">@messages("semantics.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.ComplexityController.complexity"><h4>@messages("complexity.menu")</h4></a>
      <p class="card-text">@messages("complexity.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.AlternationController.alternations"><h4>@messages("alternations.menu")</h4></a>
      <p class="card-text">@messages("alternations.text")</p>
    </div>
  </div>
  
  <div class="card dcv-card">
    <div class="card-body">
      <a href="@routes.ExpressionController.expressions"><h4>@messages("expressions.menu")</h4></a>
      <p class="card-text">@messages("expressions.text")</p>
    </div>
  </div>
  
</div>
