@()(implicit messages: Messages, langs: Langs)

<h2>@messages.messages("index.team.title")</h2>

  <div class="row">
  
      <div class="col-lg-6">
        <div class="card dcv-card">
          <div class="card-body">
            <img src="@routes.Assets.versioned("images/index/amb.png")" class="img-fluid" />
            <h4>Ana-Maria Barbu</h4>
            <h6 class="text-secondary">@Html(messages("index.team.amb.role"))</h6>
            <a href="mailto:anamaria.barbu@@g.unibuc.ro"><i class="fa fa-envelope text-secondary" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="card dcv-card">
          <div class="card-body">
            <img src="@routes.Assets.versioned("images/index/cm.png")" />
            <h4>Cătălin Mititelu</h4>
            <h6 class="text-secondary">@Html(messages("index.team.cm.role"))</h6>
            <a href="https://www.linkedin.com/in/catalin-mititelu-9472654/" target="_blank"><i class="fa fa-linkedin text-secondary" aria-hidden="true"></i></a>
            <a href="mailto:catalinmititelu@@yahoo.com"><i class="fa fa-envelope text-secondary" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
  </div>

  <h6 class="text-secondary">@messages("index.team.thanks.title")</h6>
  <p>@messages("index.team.thanks.text")</p>
