@(letter: Char, verb: Option[Verb], verbsByLetter: Map[Char, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeLetter(currentLetter: Char) = @{if (currentLetter == letter) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@templates.presentation("alphabet",
	filterOpt=Some(letter),
	noOfVerbsOpt=verbsByLetter.get(letter).map(_.size)){
  @* Filter *@
  @for((currentLetter, verbs) <- verbsByLetter.toSeq.sortBy(_._1.toString)) {
    <a class="nav-link @activeLetter(currentLetter)" 
      href="@routes.AlphabetController.showLetter(currentLetter.toString)">@currentLetter
      <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
    </a>
  }
}{
  @* List *@
  @templates.list(verb, verbsByLetter.get(letter).getOrElse(Nil), routes.AlphabetController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v, inExpressions = true)).getOrElse("")
}
