@(alternation: Int, verb: Option[Verb], verbsByAlternation: Map[Int, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeAlternation(currentAlternation: Int) = @{if (currentAlternation == alternation) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@templates.presentation("alternations", 1, 2, 9,
	Some(alternation), 
	verbsByAlternation.get(alternation).map(_.size)){
  @* Filter *@
  @for((alternation, verbs) <- verbsByAlternation.toSeq.sortBy(_._1)) {
    <a class="nav-link @activeAlternation(alternation)" 
      href="@routes.AlternationController.showAlternation(alternation.toString)">@alternation
      <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
    </a>
  }
}{
  @* List *@
  @templates.list2(alternation.toString, verb, verbsByAlternation.get(alternation).getOrElse(Nil).sortBy(_.id), routes.AlternationController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v, AlternationController.showUnit(alternation))).getOrElse("")
}
