@(complexity: Int, verb: Option[Verb], verbsByComplexity: Map[Int, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeComplexity(currentComplexity: Int) = @{if (currentComplexity == complexity) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@templates.presentation("complexity", 1, 2, 9,
	Some(complexity), 
	verbsByComplexity.get(complexity).map(_.size)){
  @* Filter *@
  @for((complexity, verbs) <- verbsByComplexity.toSeq.sortBy(_._1)) {
    <a class="nav-link @activeComplexity(complexity)" 
      href="@routes.ComplexityController.showComplexity(complexity.toString)">@complexity
      <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
    </a>
  }
}{
  @* List *@
  @templates.list2(complexity.toString, verb, verbsByComplexity.get(complexity).getOrElse(Nil).sortBy(_.id), routes.ComplexityController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v)).getOrElse("")
}
