@(feature: String, verb: Option[Verb], verbsByFeature: Map[String, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeFeature(currentFeature: String) = @{if (currentFeature == feature) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@templates.presentation("features", 2, 1, 9,
	Some(feature),
	verbsByFeature.get(feature).map(_.size)){
  @* Filter *@
  @for((feature, verbs) <- verbsByFeature.toSeq.sortBy(_._1)) {
    <a class="nav-link @activeFeature(feature)" 
      href="@routes.FeatureController.showFeature(feature)">@feature
      <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
    </a>
  }
}{
  @* List *@
  @templates.list2(feature, verb, verbsByFeature.get(feature).getOrElse(Nil).sortBy(_.id), routes.FeatureController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v, FeatureController.showUnit(feature))).getOrElse("")
}

