@(gramType: Gram.Type, gram: String, verb: Option[Verb], dictionary: Dictionary)(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@import models.Gram._

@verbsByGram(currentType: Gram.Type) = @{dictionary.verbsByGram(currentType)}
@activeGramType(currentGramType: Gram.Type) = @{if (currentGramType == gramType) "show"}
@ariaGramType(currentGramType: Gram.Type) = @{if (currentGramType == gramType) "true" else "false"}
@activeGram(currentGram: String) = @{if (currentGram == gram) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}
@showGram(gram: String) = @{if(gram == Gram.UNSPEC) "<i>" + messages("grams.unspec") + "</i>" else if(gram == "-") "<i>" + messages("grams.incidence") + "</i>" else gram}
@messages = @{request.messages}

@templates.presentation("grams", 2, 1, 9,
	Some(messages(gramType.key) + " / " + showGram(gram)),
	verbsByGram(gramType).get(gram).map(_.size)){
  @* Filter *@
  <div class="accordion" id="gramsDiv">
    @for(crtGramType <- Gram.types) {
      <div class="card">
        <div class="card-header" id="@crtGramType.name">
          <h5 class="mb-0">
            <a class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#data-target-@crtGramType.name" aria-expanded="@ariaGramType(crtGramType)" aria-controls="data-target-@crtGramType.name">
              @messages(crtGramType.key)
            </a>
          </h5>
        </div>
    
        <div id="data-target-@crtGramType.name" class="collapse @activeGramType(crtGramType)" aria-labelledby="@crtGramType.name" data-parent="#gramsDiv">
          <div class="card-body">
            @for((crtgram, verbs) <- verbsByGram(crtGramType).toSeq.sortBy(_._1)) {
              <a class="nav-link @activeGram(crtgram)" 
                href="@routes.GramController.showGram(crtGramType.name, crtgram)">@if(crtgram == Gram.UNSPEC) {<i>@messages("grams.unspec")</i>} else if(crtgram == "-") {<i>@messages("grams.incidence")</i>} else {@crtgram}
                <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
              </a>
            }
          </div>
        </div>
      </div>
    }
  </div>
}{
  @* List *@
  @templates.list3(gramType.name, gram, verb, verbsByGram(gramType).get(gram).getOrElse(Nil).sortBy(_.id), routes.GramController.showVerb)  
}{
  @* Details *@
  @verb.map(v => templates.details(v, GramController.showUnit(gramType, gram))).getOrElse("")
}

