@(dictionary: Dictionary)(implicit request: MessagesRequest[AnyContent], langs: Langs)

@messages = @{request.messages}

@templates.main("index") {

  <header class="jumbotron bg-primary text-white">
    <div class="container text-center">
      <h1>@messages("index.title")</h1>
      <p class="text-white">@messages("index.subtitle")</p>
    </div>
  </header>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
  <section id="about" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>@messages("index.about.title")</h2>
          @if(request.messages.lang.code == "ro") { @section.about_ro(dictionary) } else { @section.about_en(dictionary) }
        </div>
      </div>
    </div>
  </section>

  <section id="search" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>@messages("index.search.title")</h2>
          @section.search()
        </div>
      </div>
    </div>
  </section>

  <section id="download" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>@messages("index.download.title")</h2>
          @if(request.messages.lang.code == "ro") { @section.download_ro(dictionary.file) } else { @section.download_en(dictionary.file) }
        </div>
      </div>
    </div>
  </section>

  <section id="cite" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
        	@section.cite()
        </div>
      </div>
    </div>
  </section>

  <section id="limitation" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          @section.limitation()
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          @section.team()
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Institutul de Lingvistică "Iorgu Iordan - Al. Rosetti" 2019</p>
    </div>
    <!-- /.container -->
  </footer>
}
