@(classifier: Classifier, verb: Option[Verb], verbsByClassifier: Map[Classifier, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeClassifier(currentClassifier: Classifier) = @{if (currentClassifier == classifier) "active"}
@messages = @{request.messages}

@templates.presentation("poses", 2, 1, 9,
	Some(messages("poses."+classifier.name)),
	verbsByClassifier.get(classifier).map(_.size)){
  @* Filter *@
  @for(classifier <- PosClassifiers.list) {
    <a class="nav-link @activeClassifier(classifier)" 
      href="@routes.PosController.showPos(classifier.name)">@Html(messages("poses."+classifier.name))
      <span class="badge badge-primary badge-pill float-right">@verbsByClassifier.get(classifier).getOrElse(Nil).size</span>
    </a>
  }
}{
  @* List *@
  @templates.list2(classifier.name, verb, verbsByClassifier.get(classifier).getOrElse(Nil).sortBy(_.id), routes.PosController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v, classifier.showUnit)).getOrElse("")
}

