@(sem: String, verb: Option[Verb], verbsBySem: Map[String, List[Verb]])(
	implicit request: MessagesRequest[AnyContent], langs: Langs, ord: Ordering[String])

@activeSem(currentSem: String) = @{if (currentSem == sem) "active"}
@activeVerb(currentVerb: String) = @{if (verb.map(_.id.toLowerCase) == Some(currentVerb.toLowerCase)) "active"}

@templates.presentation("semantics", 2, 1, 9,
	Some(sem),
	verbsBySem.get(sem).map(_.size)){
  @* Filter *@
  @for((sem, verbs) <- verbsBySem.toSeq.sortBy(_._1)) {
    <a class="nav-link @activeSem(sem)" 
      href="@routes.SemanticController.showSem(sem)">@sem
      <span class="badge badge-primary badge-pill float-right">@verbs.size</span>
    </a>
  }
}{
  @* List *@
  @templates.list2(sem, verb, verbsBySem.get(sem).getOrElse(Nil).sortBy(_.id), routes.SemanticController.showVerb)
}{
  @* Details *@
  @verb.map(v => templates.details(v, SemanticController.showUnit(sem))).getOrElse("")
}


